#recommend>.songs>main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 3px;
  padding-bottom: 20px;
}

#recommend>section>h1 {
  position: relative;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 14px;
  padding-left: 9px;
  height: 20px;
  line-height: 20px;
  cursor: default;
}

#recommend>section>h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  height: 16px;
  width: 2px;
  background-color: #D43B32;
}

#recommend>.songs>main .song-list {
  cursor: pointer;
}

#recommend>.songs>main .song-list>figure {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

#recommend>.songs>main .song-list>figure>img {
  position: absolute;
  width: 100%;
}

#recommend>.songs>main .song-list>figcaption {
  padding: 6px 6px 0 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 1.2;
}

#recommend>.new-songs>main .song {
  position: relative;
  display: flex;
  margin-left: 10px;
}

#recommend>.new-songs>main .song>.info {
  flex-grow: 1;
  padding: 6px 0;
  min-width: 0;
}

.line-clamp-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: normal;
}

#recommend>.new-songs>main .song>.info h2 {
  font-size: 17px;
}

#recommend>.new-songs>main .song>.info p {
  color: #888;
  font-size: 12px;
}

i.sq {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 4px;
  background: url(../assets/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
}

#recommend>.new-songs>main .song>.play {
  flex-shrink: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recommend>.new-songs>main .song>.play i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../assets/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
  background-position: -24px 0;
}