.song-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.song-item>.rank {
  flex-shrink: 0;
  width: 28px;
  font-size: 17px;
  color: #df3436;
}

.song-item>main {
  position: relative;
  flex-grow: 1;
  display: flex;
  min-width: 0;
}

.song-item>main>.info {
  flex-grow: 1;
  padding: 6px 0;
  min-width: 0;
}

.song-item>main>.info h2 {
  font-size: 17px;
}

.song-item>main>.info p {
  color: #888;
  font-size: 12px;
}

.song-item>main>.play {
  flex-shrink: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-item>main>.play i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../assets/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
  background-position: -24px 0;
}

i.sq {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 4px;
  background: url(../assets/index_icon_2x.png) no-repeat;
  background-size: 166px 97px;
}