* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

b, em, h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

ol, ul, li {
  list-style: none;
}

body {
  background-color: #fcfcfd;
  color: #333;
  font: 14px/1.5 Helvetica, sans-serif;
}

.taper {
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#app>header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  top: 0;
  height: 64px;
  background-color: #D43B32;
  width: 100vw;
  font-size: 15px;
  z-index: 1;
}

#app>header .logo {
  height: 25px;
  width: 142px;
  flex-shrink: 0;
}

#app>header .download {
  position: relative;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  border-radius: 15px;
  flex-shrink: 0;
}

#app>header .download::before {
  content: '';
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 60px;
  display: block;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

@media screen and (min-resolution: 1.5dppx), screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #app>header .download::before {
    width: 150%;
    height: 150%;
    transform: scale(0.6666666666666);
  }
}

@media screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 2.0) {
  #app>header .download::before {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
  }
}

#app>nav {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 64px;
  width: 100vw;
  height: 40px;
  background: #fff;
  font-size: 15px;
  z-index: 1;
}

#app>nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  transform-origin: 0 0;
}

@media screen and (min-resolution: 1.5dppx), screen and (-webkit-min-device-pixel-ratio: 2.0) {
  #app>nav::before {
    width: 150%;
    height: 150%;
    transform: scale(0.6666666666666);
  }
}

@media screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 2.0) {
  #app>nav::before {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
  }
}

#app>nav>.tab {
  text-align: center;
  position: relative;
}

#app>nav>.tab.active {
  color: #D43B32;
}

#app>nav>.tab>div {
  position: relative;
  padding: 0 5px;
  display: inline-block;
  line-height: 40px;
  height: 40px;
}

#app>nav>.tab.active>div::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #D43B32;
}

#app>nav>.tab>div>span {
  vertical-align: middle;
}

#app>main {
  margin-top: 104px;
}

#app>main>.tab {
  padding-top: 1px;
  top: -1px;
  position: relative;
  display: none;
  height: 2000px;
}

#app>main>.tab.active {
  display: block;
}

#app>main>.tab>section>h1 {
  position: relative;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 24px;
  padding-left: 9px;
  height: 20px;
  line-height: 20px;
}

#app>main>.tab>section>h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  height: 16px;
  width: 2px;
  background-color: #D43B32;
}